<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Encounters" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Participants" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="items" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs>
