<!--
  Generated template for the EncounterList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EncounterList</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <!--<ion-item>
      <ion-avatar item-left>
        <img src="img/avatar-finn.png">
      </ion-avatar>
      <h2>Finn</h2>
      <h3>Don't Know What To Do!</h3>
      <p>I've had a pretty messed up day. If we just...</p>
    </ion-item>-->
    <ion-item-sliding *ngFor="let encounter of encounters">
      <ion-item>
        <h2 (click)="viewEncounter(encounter)">{{encounter.title}}</h2>
        <p>{{encounter.description}}</p>
      </ion-item>

      <ion-item-options>
        <button (click)="editEncounter(encounter)" light>
          <ion-icon name="paper"></ion-icon>
        </button>
        <button (click)="deleteEncounter(encounter)" danger>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="dark"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="addEncounter()"><ion-icon name="add"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
