<!--
  Generated template for the ParticipantList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ParticipantList</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item-group *ngFor="let group of groupeditems">

    <ion-item-divider light>{{group.letter}}</ion-item-divider>
    <ion-item *ngFor="let contact of group.contacts">{{contact}}</ion-item>

  </ion-item-group>
</ion-content>
